header{
    background-color: #bbbbbb; /* Cor de fundo do cabeçalho  */
    padding: 25px 0px; /* em cima e em baixo, direita e esquerda */
}
.caixa {
    position: relative;
    width: 940px;
    margin: auto;
}
nav li {
    display: inline-block;
    margin: 0 0 0 15px; /* em cima, direita, embaixo, esquerda*/
}

nav a {
    text-transform: uppercase ; /* O texto tem visual de maiuscula*/
    color: #000000;
    font-weight: bold; /* A fonte do texto fica forte */
    font-size: 22px;
    text-decoration: none; /* O link fica sem decoração, ou sublinhado */
}

nav ul {
    position: absolute;
    top: 110px; 
    right: 0;

}
.produtos {
    width: 940px;
    margin: 0 auto ;
    padding: 50px 0;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produtos-preco {
    font-size: 20px;
    font-weight: bold;
}

.produtos-descricao {
    font-size: 18px;
 }

 