header{
    background-color: #bbbbbb; /* Cor de fundo do cabeçalho  */
    padding: 25px 0px; /* em cima e em baixo, direita e esquerda */
}
.caixa {
    position: relative;
    width: 940px;
    margin: auto;
}
nav li {
    display: inline-block;
    margin: 0 0 0 15px; /* em cima, direita, embaixo, esquerda*/
}

nav a {
    text-transform: uppercase ; /* O texto tem visual de maiuscula*/
    color: #000000;
    font-weight: bold; /* A fonte do texto fica forte */
    font-size: 22px;
    text-decoration: none; /* O link fica sem decoração, ou sublinhado */
}

nav a:hover {
        color: chocolate;
        text-decoration: overline underline;
}
nav ul {
    position: absolute;
    top: 110px; 
    right: 0;

}
.produtos {
    width: 940px;
    margin: 50px auto ;
    padding: 50px 0px;
}
.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5% ;
    padding: 30px 20px;
    box-sizing: border-box;
    border-color: black;
    border-style: ridge ;
    border-width: 6px;
    border-radius: 10px;
}
 
.produtos li:hover {
    border-color: chocolate;
}
.produtos li:hover h2 {
    font-size: 34px;
}

.produtos li:active {
    border-color: green;
}


.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produtos-descricao {
    font-size: 18px;
}

.produtos-preco {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    color: white;
    background: url(bg.jpg); 
    padding: 40px 0;  
    margin-top: auto; 
 }

 #img {
     width: max-content;
     weight: max-content;
 }

 